pandas
streamlit
langchain
langchain_community
pysqlite3-binary
chromadb
unstructured
sentence-transformers
faiss-cpu
tiktoken
openai
pypdf
loguru
docx2txt
pypdf2
nltk
spacy
beautifulsoup4
SQLAlchemy
watchdog
transformers
torch
python-dotenv